*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 221px;
    width: 500px;
    border: 1px solid;
    margin-left: 46rem;
    margin-top: 18rem;
    background-color: #181717cb;
    color: white;
    border-radius: 7px;
  }
  #change-theme{
    text-align: center;
    padding: 1em;
  padding-bottom: 2em;
  padding-top: 0.5em;
  cursor: pointer;
    border: 1px solid ;
    height: 30px;
    width: 150px;
  margin-left: 56rem;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: large;
    background-color:rgb(183, 182, 182);
    border-radius: 5px;
    color: black;
  }
#password{
    padding: 2em;
    padding-top: 1em;
    text-align: center;
    border: 1px solid ;
    cursor: pointer;
    height: 20px;
    font-size: large;
    width: 220px;
    margin-left: 135px;
    margin-bottom: 10px;
    margin-top: 25px;
    overflow: hidden;
    border-radius: 5px;
}
#generate{
    padding: 2em;
    text-align: center;
    padding-top: 1em;
    border: 1px solid ;
    cursor: pointer;
    font-size: large;
    border-radius: 5px;
    height: 4px;
    width: 130px;
    margin-left: 175px;
    margin-bottom: 10px;
    margin-top: 45px;
    background-color: white;
    color: black;
}